<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>

<?php
/** @var \Magento\Catalog\Pricing\Render\FinalPriceBox $block */

/** ex: \Magento\Catalog\Pricing\Price\RegularPrice */
/** @var \Magento\Framework\Pricing\Price\PriceInterface $priceModel */
$priceModel = $block->getPriceType('regular_price');

/** ex: \Magento\Catalog\Pricing\Price\FinalPrice */
/** @var \Magento\Framework\Pricing\Price\PriceInterface $finalPriceModel */
$finalPriceModel = $block->getPriceType('final_price');
$idSuffix = $block->getIdSuffix() ? $block->getIdSuffix() : '';
$schema = ($block->getZone() == 'item_view') ? true : false;
?>
<?php if ($block->hasSpecialPrice()) :?>
    <span class="special-price">
        <?= /* @noEscape */ $block->renderAmount($finalPriceModel->getAmount(), [
            'display_label'     => __('Special Price'),
            'price_id'          => $block->getPriceId('product-price-' . $idSuffix),
            'price_type'        => 'finalPrice',
            'include_container' => true,
            'schema' => $schema
        ]); ?>
    </span>
    <span class="old-price">
        <?= /* @noEscape */ $block->renderAmount($priceModel->getAmount(), [
            'display_label'     => __('Regular Price'),
            'price_id'          => $block->getPriceId('old-price-' . $idSuffix),
            'price_type'        => 'oldPrice',
            'include_container' => true,
            'skip_adjustments'  => true
        ]); ?>
    </span>
<?php else :?>
    <?= /* @noEscape */ $block->renderAmount($finalPriceModel->getAmount(), [
        'price_id'          => $block->getPriceId('product-price-' . $idSuffix),
        'price_type'        => 'finalPrice',
        'include_container' => true,
        'schema' => $schema
    ]); ?>
<?php endif; ?>

<?php if ($block->showMinimalPrice()) :?>
    <?php if ($block->getUseLinkForAsLowAs()) :?>
        <a href="<?= $block->escapeUrl($block->getSaleableItem()->getProductUrl()) ?>" class="minimal-price-link">
            <?= /* @noEscape */ $block->renderAmountMinimal() ?>
        </a>
    <?php else :?>
        <span class="minimal-price-link">
            <?= /* @noEscape */ $block->renderAmountMinimal() ?>
        </span>
    <?php endif?>
<?php endif; ?>


<style>
    #logo_name_brand a>p{
        color: #333333 !important;
        font-weight: 600;
        text-align: center;
    }

    #logo_name_brand a {
        text-decoration: none;
        border: 1px solid #eee;
    }

    #logo_name_brand a:hover {
        border-color: #f90;
    }

    #logo_name_brand a:hover>p{
        color: #f90 !important;
    }
    #logo_name_brand a:hover .tooltip-content{
        display: block !important;
    }
    #logo_name_brand {
        display: flex;
        margin-top: 10px;
    }

    .custom-tooltip {
        position: relative;
    }

    .brand-label {
        font-weight: 600;
    }

    #logo_name_brand img {
        width: 70px;
        height: 70px;
        display: inline-block;
        vertical-align: middle;
    }

    .custom-tooltip .tooltip-content {
        background: #fff;
        max-width: 360px;
        min-width: 210px;
        padding: 12px 16px;
        z-index: 100;
        display: none;
        position: absolute;
        text-align: left;
        color: #333;
        line-height: 1.4;
        border: 1px solid #bbb;
        margin-bottom: 5px;
        bottom: 100%;
        left: 0;
    }
</style>



<?php
$brandCollection = $this->getBrandCollection();
?>
<?php if($brandCollection && $brandCollection->count()){ ?>
    <div id="logo_name_brand">
        <?php
        foreach ($brandCollection as $_brand) {
            ?>
            <a href="<?= $this->getBaseUrl() . "{$_brand->getUrlKey()}.html" ?>" title="<?php echo $_brand->getName(); ?>">
                <span class="custom-tooltip">
                    <img id="brand_logo"
                         src="<?php echo $this->getMediaUrl($_brand->getLogo()); ?>"
                         alt="<?php echo $_brand->getName(); ?>" />
                    <span class="tooltip-content" style="text-align: justify; margin-bottom: 40px; display: none">
                        <p style="font-size: 15px;">
                            <?= $_brand->getShortDescription() ?>
                        </p>
                        <img src="<?php echo $this->getMediaUrl($_brand->getLogo()); ?>"
                             style="width: 100px; height: 100px; display: block;" />
                    </span>
                </span>
                <p>
                    <?php echo $_brand->getName(); ?>
                </p>
            </a>
            <?php
        }
        ?>
    </div>

<?php } ?>
