@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?dj7xxs');
  src:  url('fonts/icomoon.eot?dj7xxs#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?dj7xxs') format('truetype'),
    url('fonts/icomoon.woff?dj7xxs') format('woff'),
    url('fonts/icomoon.svg?dj7xxs#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-delicious:before {
  content: "\1f308";
}
