<style>
    .shopbybrand-block li {
        list-style: none;
        cursor: pointer;
    }

    .shopbybrand-block li.brand-item .brand-item-inner {
        border: 1px solid #eee;
        padding: 10px;
        /*margin-right: 10px;*/
        text-align: center;
        height: 100%;
    }
    .shopbybrand-block a {
        color: #373330;
    }
    .brand-item-inner {
        margin-right: 1px !important;
    }

    .shopbybrand-block .owl-carousel .owl-item img {
        width: auto;
        display: inline-block;
        margin: 0 auto;
    }
    .shopbybrand-block li.brand-item a {
        text-decoration: none;
    }
    .brand-item-inner p{
        margin-top: 0px !important;
    }

    .shopbybrand-block li.brand-item .brand-item-inner:hover {
        border-color: #f90;
    }

    .shopbybrand-block li.brand-item .brand-item-inner:hover p a {
        color: #f90;
    }

    .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
        background: #f90 !important;
    }

    .shopbybrand-block img {
        transition: transform .5s ease-in-out,-webkit-transform .5s ease-in-out;
        height: auto;
    }

    .shopbybrand-block li.brand-item .brand-item-inner:hover img {
        -webkit-transform: scale(1.03);
        transform: scale(1.03);
    }

    #brand-filter .filter-items li a {
        float: left;
        padding: 10px 0;
        width: 40px;
        text-align: center;
        background: #e3e3e3;
        color: #161e27;
        border-radius: 5px;
        transition: all .1s ease-in 0s;
    }

    #brand-filter .filter-items li a.filter-item {
        cursor: pointer;
    }

    .owl-nav {
        display: none;
    }

    .owl-dots {
        margin-top: 10px;
    }

    button.owl-dot {
        box-shadow: none !important;
    }
</style>

<div class="block shopbybrand-block">
    <div class="block-title">
        <span>Featured Brands</span>
    </div>
    <div class="block-content">
        <div class="owl-carousel owl-theme">
            <?php $brands = $block->getFeatureBrands() ?>
            <?php if (count($brands) > 0): ?>
                <?php foreach ($brands as $brand): ?>
                    <div class="item">
                        <li class="brand-item ">
                            <div class="brand-item-inner">
                                <a href="<?= $block->getBaseUrl() . "{$brand->getUrlKey()}.html" ?>" title="<?= $brand->getName() ?>">
                                    <img src="<?= $block->getMediaUrl($brand->getLogo()) ?>">
                                </a>
                                <p>
                                    <a href="<?= $block->getBaseUrl() . "{$brand->getUrlKey()}.html" ?>" title="<?= $brand->getName() ?>">
                                        <span><?= $brand->getName() ?></span>
                                    </a>
                                </p>
                            </div>
                        </li>
                    </div>
                <?php endforeach; ?>
            <?php endif; ?>
        </div>
    </div>
</div>
