<style>
    .sidebar .shopbybrand-block .block-title {
        margin-bottom: 5px;
    }
    .shopbybrand-block .block-title {
        margin: 0 0 20px;
        background: #f90;
        padding: 8px;
        color: #fff;
    }

    .block-title span {
        font-weight: bold;
    }

    .shopbybrand-block .block-content {
        position: relative;
    }

    .brand-searchform #brand_search_autocomplete {
        overflow: hidden;
        position: absolute;
        z-index: 3;
    }

    .brand-searchform #brand-search {
        height: 40px;
        position: relative;
        z-index: 4;
        width: 100%;
    }

    .brand-searchform #brand_search_autocomplete {
        overflow: hidden;
        position: absolute;
        z-index: 3;
    }

    .brand-searchform #brand_search_autocomplete .ui-autocomplete {
        padding: 0;
        list-style: none;
        background: #fff;
        border: 1px solid #c2c2c2;
        border-top: 0;
        float: left;
        max-height: 500px;
        overflow: scroll;
    }

    .brand-searchform #brand_search_autocomplete .ui-autocomplete li {
        cursor: pointer;
        margin: 0;
        text-align: left;
        white-space: normal;
        float: left;
        width: 100%;
    }

    .brand-searchform #brand_search_autocomplete .ui-autocomplete li .brand-search_item {
        padding: 5px 10px;
    }

    .sidebar .brand-searchform #brand_search_autocomplete .ui-autocomplete li .brand-search_left {
        margin-right: 8px;
    }

    .sidebar .brand-searchform #brand_search_autocomplete .ui-autocomplete li img {
        max-width: 60px;
    }

    .brand-searchform #brand_search_autocomplete .ui-autocomplete li .brand-search_left {
        float: left;
        margin-right: 15px;
    }

    .brand-searchform #brand_search_autocomplete .ui-autocomplete li .brand-search_right .brand-search_item_title {
        font-size: 1.6rem;
        margin-bottom: 3px;
    }

    .brand-searchform #brand_search_autocomplete .ui-autocomplete li .brand-search_right {
        padding-top: 5px;
    }

    .brand-searchform #brand_search_autocomplete .ui-autocomplete li a {
        color: #333;
        text-decoration: none;
    }

    .brand-searchform #brand_search_autocomplete .ui-autocomplete li.selected, .brand-searchform #brand_search_autocomplete .ui-autocomplete li:hover {
        background: #f0f0f0;
    }
</style>

<div class="block shopbybrand-block brand-searchform">
    <div class="block-title">
        <span>Brand Search</span>
    </div>
    <div class="block-content">
        <div class="brand-searchform-inner">
            <span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
            <input type="text" placeholder="Search by name" id="brand-search" class="ui-autocomplete-input" autocomplete="off">
        </div>
        <div id="brand_search_autocomplete">
        </div>
    </div>
</div>
<script type="text/javascript">
    require(['jquery','jquery/ui'], function($) {
        var brands = <?= $block->getBrandsJson() ?>;
        $( "#brand-search" ).autocomplete({
            messages: {
                noResults: '',
                results: function(amount) {
                    return '';
                }
            },
            source: brands,
            appendTo: '#brand_search_autocomplete',
            select: function( event, ui ) {
                window.location.href = ui.item.url;
            }
        }).data( "ui-autocomplete" )._renderItem = function(ul,item) {
            var $html = '<div class="brand-search_item"><a>';
            if (item.logo) {
                $html += '<div class="brand-search_left"><img src="' + item.logo + '" alt="' + item.label + '"/></div>';
            }
            $html += '<div class="brand-search_right">';
            $html += '<div class="brand-search_item_title">' + item.label;
            if (typeof(item.productCount)!='undefined') {
                $html += ' <span class="brand-productcount">(' + parseInt(item.productCount) + ')</span>';
            }
            $html += '</div>';
            $html += '</div>';
            $html += '</a></div>';
            return $('<li class="ui-menu-item" data-label=' + item.label + '>').data("ui-autocomplete-item",item).append($html).appendTo( ul );
        };

        $( "#brand-search" ).focus(function(e) {
            $('#brand_search_autocomplete .ui-autocomplete').show();
        });

    })
</script>

