<style>
    .sidebar .shopbybrand-block .block-title {
        margin-bottom: 5px;
    }
    .shopbybrand-block .block-title {
        margin: 0 0 20px;
        background: #f90;
        padding: 8px;
        color: #fff;
    }

    .block-title span {
        font-weight: bold;
    }

    #brand-thumbnail-menu li a {
        display: block;
        color: #000;
        padding: 3px 0;
        text-decoration: none;
    }

    .block-content .filter-options-content {
        padding: 0;
    }

    .block-content .filter-options-content ul {
        margin:0;
        padding: 0;
    }

    .block-content .filter-options-content ul li{
        padding: 10px;
        border: 1px solid #eee;
    }

    .block-content .filter-options-content ul li:hover {
        border-color: #f90;
    }

    .block-content .filter-options-content ul li:hover p {
        color: #f90 !important;
    }

    .block-content .filter-options-content .brand-items{
        display: flex;
        align-items: center;
    }

    .block-content .filter-options-content img{
        width: 60px;
        height: 60px;
        margin-right: 20px;
        border: 1px solid #eee;
    }

    .filter-options-content a:hover {
        background: transparent;
        text-decoration: none;
    }

    #brand-thumbnail-bottom {
        text-align: center;
    }

    .block-content a.action{
        width: 100px;
        padding: 3px !important;
        background: transparent !important;
        border-color: #000 !important;
        border-radius: 0 !important;
        color: #000 !important;
    }

    .block-content a.action:hover{
        background: #000 !important;
        color: #fff !important;
        box-shadow: none;
    }

</style>

<div class="block shopbybrand-block brand-searchform">
    <div class="block-title">
        <span>List Brand</span>
    </div>
    <?php if(count($block->getBrandList()) > 0): ?>
        <div class="block-content">
            <div class="filter-options-content" id="brand-thumbnail-menu">
                <ul>
                    <?php foreach ($block->getBrandList() as $brand): ?>
                    <li>
                        <a href="<?= $block->getBaseUrl() . "{$brand->getUrlKey()}.html" ?>">
                            <div class="brand-items">
                                <img class="img-responsive brand-thumbnail-image"
                                     src="<?= $this->getMediaUrl($brand->getLogo()) ?>"
                                     alt="<?= $brand->getName() ?>">
                                <p><?= $brand->getName() ?></p>
                            </div>
                        </a>
                    </li>
                    <?php endforeach; ?>
                </ul>
            </div>
            <div class="pages" id="brand-thumbnail-bottom">
                <a class="action" href="<?= $block->getBaseUrl() . "shopbybrand/brand" ?>">
                    <span>View All</span>
                </a>
            </div>
        </div>
    <?php endif; ?>
</div>

