//@font-face {
//    font-family: 'icomoon';
//    src:  url('../../fonts/fonts/icomoon.eot?ibcmtq');
//    src:  url('../../fonts/fonts/icomoon.eot?ibcmtq#iefix') format('embedded-opentype'),
//    url('../../fonts/fonts/icomoon.ttf?ibcmtq') format('truetype'),
//    url('../../fonts/fonts/icomoon.woff?ibcmtq') format('woff'),
//    url('../../fonts/fonts/icomoon.svg?ibcmtq#icomoon') format('svg');
//    font-weight: normal;
//    font-style: normal;
//    font-display: block;
//}
//.admin__menu .item-brand.level-0 > a:before {
//    font-family: 'icomoon';
//    content: '\e91b';
//}
