.field.limiter{
    display: none !important;
}

.product-item-info {
    width: 100% !important;
}

.products-grid .product-item {
    width: 24% !important;
}

.action.primary {
    background: #f90 !important;
    border: 1px solid #f90 !important;
    color: #ffffff;
}

.action.primary:hover {
    background: #f39001 !important;
    border: 1px solid #f39001 !important;
    color: #ffffff;
}
